@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .switch-on {
    @apply bg-[#2196f3] !important;
  }

  .switch-off {
    @apply bg-[#ccc] !important;
  }

  .on {
    @apply translate-x-full transition-all ease-linear delay-100 !important;
  }

  .off {
    @apply translate-x-0 transition-all ease-linear delay-100 !important;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
